
<ul class="breadcrumb">
  <li>Bienvenido: </li>
  <li><a href="#"><%= session[:user].name %></a></li>
</ul>

<legend style="text-align: center"><h3>Lista de usuarios</h3></legend>

<table class="table table-striped table-hover table-bordered table-condensed" >
  <tr >
    <th>Nombre</th>
    <th>Contraseña</th>
    <th>Email</th>
    <th>Celular</th>
    <th>Tipo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr >
    <td><%= user.name %></td>
    <td><%= user.password %></td>
    <td><%= user.email %></td>
    <td><%= user.cellphone %></td>
    <td><%= user.tipo %></td>
    <td><%= link_to 'Mostrar', user %></td>
    <td><%= link_to 'Editar', edit_user_path(user) %></td>
    <td><%= link_to 'Eliminar', user, method: :delete, data: { confirm: '¿Esta seguro de eliminar este usuario?' }, :class=>'btn btn-danger btn-mini' %></td>
  </tr>
<% end %>
</table>

<br />
<%= link_to "Regresar", home_index_path,  :class=>"btn"  %>
<%= link_to 'Agregar Usuario ', new_user_path, :class=>"btn btn-primary" %>
